Repository dhall-lang/dhall-haskell, pull requests merged in 2020-08, with the labels that each got.

#1969 feat(dhall-docs): Generate docs on hydra for test demo package
  dhall-docs/README.md
  nix/dhall-docs-generator.nix
  nix/shared.nix
  release.nix
Labels: build, dhall-docs

#1974 feat(dhall-text): add output file command line argument
  dhall/src/Dhall/Main.hs
Labels: merge me

#1977 dhall-to-yaml{,-ng}: --documents wraps non-`List`s
  dhall-json/src/Dhall/JSON/Yaml.hs
  dhall-yaml/src/Dhall/Yaml.hs
  dhall-yaml/tasty/data/single-document-bare.yaml
Labels: merge me

#1976 fix(dhall-docs): hash file paths before hashing the tar
  dhall-docs/README.md
  dhall-docs/src/Dhall/Docs/Store.hs
  dhall/ghc-src/Dhall/Crypto.hs
  nix/shared.nix
  release.nix
Labels: dhall-docs, merge me

#1980 feat(parsing): preserve whitespaces on Lam
  dhall-json/src/Dhall/JSON.hs
  dhall-json/src/Dhall/JSONToDhall.hs
  dhall-lsp-server/src/Dhall/LSP/Backend/Completion.hs
  dhall-lsp-server/src/Dhall/LSP/Backend/Parsing.hs
  dhall-lsp-server/src/Dhall/LSP/Backend/Typing.hs
  dhall-nix/src/Dhall/Nix.hs
  dhall/src/Dhall.hs
  dhall/src/Dhall/Binary.hs
  dhall/src/Dhall/Core.hs
  dhall/src/Dhall/Diff.hs
  dhall/src/Dhall/Eval.hs
  dhall/src/Dhall/Import.hs
  dhall/src/Dhall/Normalize.hs
  dhall/src/Dhall/Parser/Expression.hs
  dhall/src/Dhall/Pretty/Internal.hs
  dhall/src/Dhall/Syntax.hs
  dhall/src/Dhall/TypeCheck.hs
  dhall/tests/Dhall/Test/QuickCheck.hs
Labels: formatting, merge me, parser

#1982 feat(dhall-docs): add jump to definition on lam parameters
  dhall-docs/src/Dhall/Docs/CodeRenderer.hs
  dhall-docs/src/Dhall/data/index.css
  dhall-docs/tasty/data/golden/JumpToLamBindingComplex.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingSimple.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingWithIndex.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingWithQuotes.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingWithShadowing.dhall.html
  dhall-docs/tasty/data/golden/JumpToLetbindingComplex.dhall.html
  dhall-docs/tasty/data/golden/JumpToUrls.dhall.html
  dhall-docs/tasty/data/golden/Pair.dhall.html
  dhall-docs/tasty/data/golden/deep/nested/folder/my-even.dhall.html
  dhall-docs/tasty/data/golden/index.html
  dhall-docs/tasty/data/package/JumpToLamBindingComplex.dhall
  dhall-docs/tasty/data/package/JumpToLamBindingSimple.dhall
  dhall-docs/tasty/data/package/JumpToLamBindingWithIndex.dhall
  dhall-docs/tasty/data/package/JumpToLamBindingWithQuotes.dhall
  dhall-docs/tasty/data/package/JumpToLamBindingWithShadowing.dhall
Labels: dhall-docs, dhall-docs:jump-to-def, merge me

#1987 Fix lower bound on `dhall`
  dhall-json/dhall-json.cabal
  dhall-lsp-server/dhall-lsp-server.cabal
Labels: merge me

#1997 Allow optparse-applicative 0.16
  dhall-docs/dhall-docs.cabal
  dhall-json/dhall-json.cabal
  dhall-nixpkgs/dhall-nixpkgs.cabal
  dhall-openapi/dhall-openapi.cabal
  dhall-yaml/dhall-yaml.cabal
  dhall/dhall.cabal
Labels: merge me

#2002 fix(dhall-docs): rename var to name when it makes sense
  dhall-docs/src/Dhall/Docs/CodeRenderer.hs
  dhall-docs/src/Dhall/data/index.css
  dhall-docs/src/Dhall/data/index.js
  dhall-docs/tasty/data/golden/InvalidMarkdown.dhall.html
  dhall-docs/tasty/data/golden/JumpToDefOnUnused.dhall.html
  dhall-docs/tasty/data/golden/JumpToHereImports.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingComplex.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingSimple.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingWithIndex.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingWithQuotes.dhall.html
  dhall-docs/tasty/data/golden/JumpToLamBindingWithShadowing.dhall.html
  dhall-docs/tasty/data/golden/JumpToLetBindingSimple.dhall.html
  dhall-docs/tasty/data/golden/JumpToLetBindingWithIndex.dhall.html
  dhall-docs/tasty/data/golden/JumpToLetBindingWithQuotes.dhall.html
  dhall-docs/tasty/data/golden/JumpToLetBindingWithShadowing.dhall.html
  dhall-docs/tasty/data/golden/JumpToLetbindingComplex.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenFieldDoesNotExist.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenLetAnnotationPresentShouldIgnoreAnnotation.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsAnnotatedWithRecordType.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsOfRecordType.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsOfRecordTypeComplex.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsOfRecordTypeDeep.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsOfRecordTypeFromLamBinding.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsOfRecordTypeOnPunnedEntry.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsOfRecordTypeTransitivity.dhall.html
  dhall-docs/tasty/data/golden/JumpToRecordFieldWhenVarIsOfRecordTypeWithDotSyntax.dhall.html
  dhall-docs/tasty/data/golden/JumpToSelf.dhall.html
  dhall-docs/tasty/data/golden/JumpToUrls.dhall.html
  dhall-docs/tasty/data/golden/Pair.dhall.html
  dhall-docs/tasty/data/golden/RenderTypeIndexesExample.dhall.html
  dhall-docs/tasty/data/golden/TwoAnnotations.dhall.html
  dhall-docs/tasty/data/golden/a/JumpToParent.dhall.html
  dhall-docs/tasty/data/golden/a/b.dhall.html
  dhall-docs/tasty/data/golden/a/b/JumpToGrandfather.dhall.html
  dhall-docs/tasty/data/golden/a/b/c.dhall.html
  dhall-docs/tasty/data/golden/a/b/c/a.dhall.html
  dhall-docs/tasty/data/golden/deep/nested/folder/my-even.dhall.html
Labels: dhall-docs, merge me

#2008 Add `dhall-docs` to repository's README
  README.md
  dhall-docs/README.md
Labels: merge me
